$white: #ffffff;
$black: #000000;
$page-background: #f5f5f5;
$text-black: #333333;
$text-gray: #b0b0b0;
$accent: #f06a4d;
$firm: #9873ff;
$firm-hover: #b89eff;
$firm-active: #8052ff;
$gray: #c8c5d1;
$lightest-gray: #f4f3f6;
$gray-hover: #e7e5eb;
